<h1><%= title %></h1>

<p>
  Please issue a proxy certificate with the <a href="https://portal.hpci.nii.ac.jp/auth-portal/Proxycert/proxycert" target="_blank">HPCI Certificate Issuing System</a> before mounting the HPCI Shared Storage.
</p>

<table class="table table-bordered">
  <tr bgcolor="blue" style="color:white;">
    <th>Action</th>
    <th>HPCI ID</th>
    <th>Elapsed time (up to 168 hours)</th>
    <th>Passphrase</th>
    <th>Mount Path</th>
  </tr>
  <% @data.each do |k, v| %>
  <tr>
    <form action="" method="post">
      <td>
        <input type="submit" name="act" value="<%= v['act'] %>">
        <input type="<%= v['act'] == 'mount' ? 'submit' : 'hidden' %>" name="<%= v['act'] == 'mount' ? 'act' : 'dummy' %>" value="delete">
      </td>
      <td><input type="text"     name="hpci_id" id="hpci_id" value="<%= v['hpci_id'] %>" required></td>
      <td><input type="number"   name="time"    id="time"    value="<%= v['time'] %>" min="1" max="168" required></td>
      <td><input type="password" name="pass"    id="pass"    value="<%= v['pass'] %>"></td>
      <td>
      <% v['mount_path'].each_with_index{|d, index| %>
      <% if v['act'] == 'mount' then %>
      <%= d %>
      <% else %>
      <a href="./dashboard/files/fs/<%= d %>" target="_blank"><%= d %></a>
      <% end %>
      <% if index < v['mount_path'].length - 1 then %>
      <br>
      <% end %>
      <% } %>
      </td>
    </form>
  </tr>
  <% end %>

  <% if @data.empty? %>
  <tr>
    <form action="" method="post">
      <td><input type="submit"   name="act"     value="mount"></td>
      <td><input type="text"     name="hpci_id" id="hpci_id" required></td>
      <td><input type="number"   name="time"    id="time" value="12" min="1" max="168" required></td>
      <td><input type="password" name="pass"    id="pass"></td>
      <td bgcolor="#aaaaaa"></td>
    </form>
  </tr>
  <% end %>
  <% @params %>
</table>
