<style type="text/css">
table tr:nth-child(even) td {
  background: #FFEEFF;
  border: solid 2px #888888;
  vertical-align: middle;
  font-size: 16px;
}
table tr:nth-child(odd) td {
  border: solid 2px #888888;
  vertical-align: middle;
  font-size: 16px;
}
th {
  background-color: purple;
  color: white;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  font-size: 16px;
}
td {
  text-align: right;
}
</style>
<h1><%= title %></h1>
<p>
<font size="5">Disk usage for each user by group.</font>
</p>
<% @groups.each_with_index do |g, i| %>
  <h2><%= g %> <font size="3">(Updated at <%= @disk_info[i][0] %> (JST) )</font></h2>
  <table class="table table-bordered" style="border: solid 2px #888888;">
    <tr>
      <th style="vertical-align: middle;" rowspan="2">User</th>
      <th style="vertical-align: middle;" rowspan="2">Volume</th>
      <th colspan="4">Capacity (GiB)</th>
      <th colspan="4">Inode</th>
    </tr>
    <tr>
      <th>Limit</th>
      <th>Usage</th>
      <th>Avail.</th>
      <th>Rate</th>
      <th>Limit</th>
      <th>Usage</th>
      <th>Avail.</th>
      <th>Rate</th>
    </tr>
    <% @disk_info[i][1..-1].each do |d| %>
    <tr>
      <% user           = d[0] %>
      <% volume         = d[1] %>
      <% capacity       = d[2] %>
      <% inode          = d[3] %>
      <% capacity_limit = d[4] %>
      <% inode_limit    = d[5] %>
      <% capacity_avail = d[6] %>
      <% inode_avail    = d[7] %>
      <% if user == ENV['USER'] %>
      <td style="color: red; font-weight: bold"><%= user %></td>
      <% else %>
      <td><%= user %></td>
      <% end %>
      <td>/<%= volume %></td>
      <% if capacity_limit != -1 %>
      <td><%= num_with_commas(capacity_limit) %></td>
      <td><%= num_with_commas(capacity) %></td>
      <td><%= num_with_commas(capacity_avail) %></td>
      <td>
        <div class="graph">
          <strong class="bar_<%= color(rate(capacity, capacity_limit)) %>" style="width: <%= rate(capacity, capacity_limit) %>%;"><%= rate(capacity, capacity_limit) %>%</strong>
        </div>
      </td>
      <% else %>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <% end %>
      
      <% if inode_limit != -1 %>
      <td><%= num_with_commas(inode_limit) %></td>
      <td><%= num_with_commas(inode) %></td>
      <td><%= num_with_commas(inode_avail) %></td>
      <td>
        <div class="graph">
          <strong class="bar_<%= color(rate(inode, inode_limit)) %>" style="width: <%= rate(inode, inode_limit) %>%;"><%= rate(inode, inode_limit) %>%</strong>
        </div>
      </td>
      <% else %>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
<br>