<%-
  require 'time'
  
  info = dashboard_info("/system/ood/motd/info.txt")

  # Get the current time as epoch milliseconds.
  now = (Time.now.to_f * 1000).to_i

  # Get time 5 minutes ago as epoch milliseconds
  #five_min_ago = now - (5 * 60 * 1000)
  one_week_ago = now - (7 * 24 * 60 * 60 * 1000)

  dashboard_url  = "https://status.fugaku.r-ccs.riken.jp/d-solo/cf06d886-e672-41d8-a587-85ccb32fce7e/5a6f6KGM5b6F44Gh44K444On44OW5pWw?orgId=1"
-%>

  <table border="0" style="margin-bottom: 20px;">
    <tr>
      <td valign="top">
	<h4 class="fugaku_info">Information</h4>
	<table class="fugaku_motd" style="margin-right: 20px; margin-top: 12px;">
	  <%- info.each do |i| -%>
	  <tr>
	    <%- c = i.split(":") -%>
	    <td class="no_wrap" valign="top"><%= c[0] %></td>
	    <td class="no_wrap" valign="top"><%= c[1] %></td>
	    <td valign="top"><%= c[2] %></td>
	  </tr>
	  <%- end -%>
	</table>
      </td>
      <td valign="top">
	<h4 class="fugaku_info">Pending jobs</h4>
	<iframe style="margin-top: 8px;" src="<%= dashboard_url %>&from=<%= one_week_ago %>&to=<%= now %>&theme=light&panelId=2" width="400px" height="170px" frameborder="0"></iframe>
      </td>
    </tr>
  </table>

